@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Readex Pro', sans-serif;
  }
  


/* Light mode */
@media (prefers-color-scheme: light) {
    a {
        color: #1f2937 !important;
    }

    a:hover {
        color: #2bb0ae !important;
    }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
    a {
        color: #FAFAFA !important;
    }

    a:hover {
        color: #d33682 !important;
    }
}

ul {list-style-type: none;}

hr {
    margin-top: 0px;
    margin-bottom: 5%;
}

#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}